{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "singleQuote": false
      }
    }
  ]
}
